.projectsection {
    height: 100vh;
    padding: 50px;
  }
  
  .projectsection.prospero {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 50px 50px 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("https://assets.website-files.com/58dcb5f0d33f36ec64a437df/58dcd22d9d881f2d2cd29808_01-ProsperoBG.jpg");
    background-position: 0px 0px;
    background-size: cover;
  }
  
  .projectsection.appfront {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("https://assets.website-files.com/58dcb5f0d33f36ec64a437df/58dcd22d9d881f2d2cd29808_01-ProsperoBG.jpg");
    background-position: 0px 0px;
    background-size: cover;
  }
  
  .projectcontent {
    width: 420px;
  }

  .projecth2-white {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .projecth2-white.bluer {
    color: #fff;
  }
  
  .p-white {
    margin-bottom: 25px;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .p-white.bluer {
    color: #fff;
  }
  
  .done {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 13px;
    padding: 3px 13px;
    border: 1px solid #fff;
    border-radius: 200px;
    opacity: 0.7;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
  
  .done:hover {
    opacity: 1;
  }
  
  .done.weblink {
    border-style: none;
    background-color: #fff;
    opacity: 1;
    -webkit-transition-property: padding;
    transition-property: padding;
    color:  rgb(0,40,0);
    text-decoration: none;
  }
  
  .done.weblink:hover {
    padding-right: 13px;
    padding-left: 13px;
  }
  
  .done.weblink.bluebutton {
    background-color:  #fff;
    color: rgb(0,40,0);
  }
  
  .done.weblink.bluebutton:hover {
    padding-right: 13px;
    padding-left: 13px;
  }
  
  .done.blueskill {
    border-color:  rgb(255, 255, 255);
    color:  rgb(255, 255, 255);
  }
  
  .done.blueskill.amazonlink {
    margin-bottom: 0px;
    border-style: none;
    background-color: #f1f1f1;
  }
